body {
  background-color: rgb(193, 243, 224); 
}

.header {
  background-color: rgb(92, 199, 145);
  width: 50%; /*makes box centered :)*/
  border: 10px solid rgb(0, 0, 0);
  padding: 10px;
  margin: auto;
  text-align: center
}

.paragraph {
  background-color: rgb(92, 199, 145);
  width: 50%;
  border: 10px solid rgb(0, 0, 0);
  padding: 30px;
  margin: 20px;
}

.leafgif {
  margin: auto
}